<div class="column-one-third">
  {{#hasCategorisedActivities}}
    <div class="clearfix heading-medium-spacing">
      <h2 class="heading-medium float-left margin-none">Your choices</h2>
      <input type="submit" class="float-right start-again link-style" value="Start again">
    </div>
    <div class="menu">
      <ul class="{{version}}">
        {{#categoryGroups}}
          <p data-test="{{categoryName}}" class="small-title">{{categoryTitle}}</p>
          {{#sortedActivities}}
            <li class="{{categoryName}} menu-container-small">
              <input type="hidden" name="category" value="{{name}}">
              <input type="hidden" name="group" value="{{group}}">
              <div class="menu-item-small" data-test="title">{{activityTitle}}</div>
              <div class="menu-item-small" data-test="link">
                <a data-test="{{activityName}}"
                   href="{{basePath}}/{{accountId}}/groups/{{group}}/activities/{{activityName}}/categorise">Change</a>
              </div>
            </li>
          {{/sortedActivities}}
        {{/categoryGroups}}
      </ul>
    </div>
  {{/hasCategorisedActivities}}
</div>
