<div class="column-one-third">
  {{#hasCategorisedActivities}}
    <p class="heading-medium">Your choices</p>
    <div class="menu">
      <ul class="{{version}}">
        {{#categoryGroups}}
          <p data-test="{{categoryName}}" class="small-title">{{categoryTitle}}</p>
          {{#sortedActivities}}
            <li class="{{categoryName}} menu-container-small">
              <input type="hidden" name="category" value="{{name}}">
              <input type="hidden" name="group" value="{{group}}">
              <a class="menu-item-small" data-test="{{activityName}}"
                 href="{{basePath}}/{{accountId}}/groups/{{group}}/activities/{{activityName}}/categorise"
              >{{activityTitle}}</a>
            </li>
          {{/sortedActivities}}
        {{/categoryGroups}}
      </ul>
    </div>
  {{/hasCategorisedActivities}}
</div>
