.category-list {
}

.category-list__item {
  margin-bottom: 30px;
}

.category-list__link {
  display: block;
  border: 2px solid $link-colour;
  text-decoration: none;

  &:hover,
  &:active {
    border-color: $link-hover-colour;

    .category-list__description {
      background-color: $link-hover-colour;
    }

    .category-list__activities-count {
      color: $link-active-colour;
    }

    .category-list__label {
      border-color: $link-active-colour;
      color: $link-active-colour;
    }
  }
}

.category-list__description {
  min-height: 100px;
  margin: 0;
  padding: 15px;
  background-color: $link-colour;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.category-list__activities-count {
  float: left;
  display: block;
  color: $link-colour;
  line-height: 1.5;
}

.category-list__label {
  float: right;
  padding: 3px 6px;
  border: 2px solid $link-colour;
  border-radius: 3px;
  color: $link-colour;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.category-list__bottom {
  background-color: $white;
  padding: 15px;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
