// Navigation container
.part-navigation-container {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #bfc1c3;
}

@media (min-width: 641px) {
  .part-navigation-container {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 15px
  }
}

// Contents list
.app-c-contents-list {
  position: relative;
  margin-bottom: 20px;
  z-index: 1;
  background: #fff;
  box-shadow: 0 20px 15px -10px #fff
}

// Contents list item
.app-c-contents-list__list-item {
  padding-top: 10px;
  line-height: 1.3;
  list-style-type: none
}

@media (min-width: 641px) {
  .app-c-contents-list__list-item {
    padding-top: 7.5px
  }
}

.app-c-contents-list__list-item--dashed {
  margin-left: 25px;
  padding-right: 25px
}

.app-c-contents-list__list-item--dashed:before {
  // Using mdash (&mdash;)
  content: "\2014 ";
  margin-left: -25px;
  padding-right: 5px
}
