@import '_govuk-elements';

.app-menu .option {
  padding: $gutter-one-third $gutter-half $gutter-one-third $gutter-half;
  display: block;
  font-weight: bold;
}

.app-menu .inactive .option {
  background-color: $grey-4;
}

.app-menu .active .option {
  background-color: $govuk-blue;
  color: #fff;
  text-decoration: none;
}

.app-menu li {
  display: table-cell;
  width: 1%;
  list-style-type: none;
  text-align: center;
}

.select-list, .menu {
  margin-bottom: $gutter-half;
  margin-top: $gutter;
}

.menu .menu-item {
  color: $black;
  cursor: pointer;
  white-space: normal;
  display: table-cell;
  margin: $gutter-one-third;
  padding: $gutter;
  text-decoration: none;
  border: none;
  background-color: transparent;
  width: $full-width;
  text-align: left;
  font-size: 1.2em;
}

.menu .menu-container  {
  border-left: $gutter-one-quarter solid $govuk-blue;
  width: $full-width;
  font-weight: 400;
  text-transform: none;
  border-bottom: 1px solid $grey-2;
  background: $grey-4;
  list-style-type: none;
  padding: 0;
  margin-bottom: $gutter-half;
  display: table;
  position: relative;
}

.menu .DOING {
  border-left-color: $green;
}

.menu .READY {
  border-left-color: $light-blue;
}

.menu .HELP {
  border-left-color: $yellow;
}

.menu .NOT-WORKED {
  border-left-color: $orange;
}

.menu .NO {
  border-left-color: $black;
}





