@import '_govuk-elements';
@import 'font-awesome';
@import 'tabs';
@import 'components/index';

.app-menu .option {
  padding: $gutter-one-third $gutter-half $gutter-one-third $gutter-half;
  display: block;
  font-weight: bold;
}

.app-menu .inactive .option {
  background-color: $grey-4;
}

.app-menu .active .option {
  background-color: $govuk-blue;
  color: #fff;
  text-decoration: none;
}

.app-menu li {
  display: table-cell;
  width: 1%;
  list-style-type: none;
  text-align: center;
}

.select-list, .menu {
  margin-bottom: $gutter-half;
  //margin-top: $gutter;
}

.menu .menu-item {
  color: $black;
  cursor: pointer;
  white-space: normal;
  display: table-cell;
  padding: $gutter;
  text-decoration: none;
  border: none;
  background-color: transparent;
  width: $full-width;
  text-align: left;
  font-size: 1.2em;
}

.menu .menu-item-medium {
  cursor: pointer;
  white-space: normal;
  display: table-cell;
  padding: 20px 30px;
  text-decoration: none;
  border: none;
  background-color: transparent;
  width: $full-width;
  text-align: left;
}

.menu .menu-container-medium  {
  border-left: $gutter-one-quarter solid $govuk-blue;
  width: $three-quarters;
  font-weight: 400;
  text-transform: none;
  border-bottom: 1px solid $grey-2;
  background: $grey-4;
  list-style-type: none;
  padding: 0;
  margin-bottom: $gutter-half;
  display: table;
  position: relative;
}

.menu .menu-item-small {
  cursor: pointer;
  white-space: normal;
  display: table-cell;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  background-color: transparent;
  width: $full-width;
  text-align: left;
  font-size: 14px;
}

.menu .menu-container-small  {
  border-left: $gutter-one-quarter solid $govuk-blue;
  width: $full-width;
  font-weight: 400;
  text-transform: none;
  border-bottom: 1px solid $grey-2;
  background: $grey-4;
  list-style-type: none;
  padding: 0;
  margin-bottom: $gutter-half;
  display: table;
  position: relative;
}

.menu .menu-item.not-selectable, .menu .menu-item-medium.not-selectable, .menu .menu-item-small.not-selectable {
  cursor: auto;
}

.menu .menu-container  {
  border-left: $gutter-one-quarter solid $govuk-blue;
  width: $full-width;
  font-weight: 400;
  text-transform: none;
  border-bottom: 1px solid $grey-2;
  background: $grey-4;
  list-style-type: none;
  padding: 0;
  margin-bottom: $gutter-half;
  display: table;
  position: relative;
}

.menu .c {
  .DOING { border-left-color: $green; }
  .READY { border-left-color: $light-blue; }
  .HELP { border-left-color: $yellow; }
  .NOT-WORKED { border-left-color: $mellow-red; }
  .NO { border-left-color: $black; }
  .DISABLED { border-left-color: $grey-2; }
}

.menu .b, .menu .a {
  .READY { border-left-color: $turquoise; }
  .HELP { border-left-color: $turquoise; }
  .DOING { border-left-color: $fuschia; }
  .NOT-SUITABLE { border-left-color: $fuschia; }
}

button.link-button {
  @extend .link;
  display: inline;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: transparent;
  font: inherit;
}


.panel-indent {
  border-left: 4px solid $grey-2;
  padding: $gutter-one-third 0 $gutter-one-third $gutter-half;
  margin-top: $gutter-one-quarter;
}

.category-heading {
  margin-top: 0;
}
.category-container {
  margin-bottom: 2em;
}

.button-secondary {
  @include button($grey-1);
}

.resort-button {
  margin-left: $gutter-half;
}
