{{<layout}}
{{$pageTitle}}{{#__}}unsorted-activities.pageTitle{{/__}}{{/pageTitle}}
{{$applicationContent}}

<a href="{{basePath}}/{{accountId}}/introduction" class="link-back">
  {{#__}}activity-group.backButton{{/__}}
</a>

<h1 class="heading-xlarge">
  <span class="category heading-secondary">{{#__}}activity-group.subheading{{/__}}</span>
  {{#__}}activity-group.a.heading{{/__}}
</h1>

<ul class="category-list">
  {{#activityGroups}}
    <li class="category-list__item" data-test-group="{{name}}">
      <a class="category-list__link" href="{{basePath}}/{{accountId}}/groups/{{name}}/activities">
        <p class="category-list__description">{{title}}</p>

        <div class="category-list__bottom">
          <span class="category-list__activities-count">{{count}}{{#__}}activity-group.a.activities{{/__}}</span>
          <span class="category-list__label">{{#__}}activity-group.choose{{/__}}</span>
        </div>
      </a>
    </li>
  {{/activityGroups}}
</ul>

{{/applicationContent}}
{{/layout}}
