{{<layout}}
{{$pageTitle}}{{#__}}activities-details.pageTitle{{/__}}{{/pageTitle}}
{{$applicationContent}}

  <h1 class="heading-xlarge" data-test="title">{{activity.title}}</h1>

  <section class="text" data-test="details">
    {{{activity.details}}}
  </section>

  <section>
    <fieldset class="star-rating form-group">
      <legend class="heading-medium">How do you rate this information?</legend>
      <div class="rating-options-group rating-options-group-enabled">
        <input type="radio" id="job-rating-5" name="rating" value="5">
        <label class="full" for="job-rating-5"></label>
        <input type="radio" id="job-rating-4" name="rating" value="4">
        <label class="full" for="job-rating-4"></label>
        <input type="radio" id="job-rating-3" name="rating" value="3">
        <label class="full" for="job-rating-3"></label>
        <input type="radio" id="job-rating-2" name="rating" value="2">
        <label class="full" for="job-rating-2"></label>
        <input type="radio" id="job-rating-1" name="rating" value="1">
        <label class="full" for="job-rating-1"></label>
      </div>
    </fieldset>
  </section>

  <a href="{{basePath}}/{{accountId}}/activities/sorted" class="link-back" data-test="backButton">
    {{#__}}activities-details.backButton{{/__}}
  </a>
  </p>

{{/applicationContent}}
{{/layout}}
