{{<layout}}
{{$pageTitle}}{{#__}}activity-group-details.pageTitle{{/__}}{{/pageTitle}}
{{$applicationContent}}

  <h1 class="heading-xlarge">
    <span class="category heading-secondary">{{#__}}activity-group-details.subheading{{/__}}</span>
    {{#__}}activity-group-details.heading{{/__}}
  </h1>

  <h2 class="heading-small heading-contents">Contents:</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li>Contents 1</li>
        <li><a href="#typography-headings">Contents 2</a></li>
        <li><a href="#typography-lead-paragraph">Contents 3</a></li>
        <li><a href="#typography-body-copy">Contents 4</a></li>
      </ul>
    </div>
  </div>

{{/applicationContent}}
{{/layout}}
