{{<layout}}
{{$pageTitle}}{{#__}}activities-details.pageTitle{{/__}}{{/pageTitle}}
{{$applicationContent}}

  <h1 class="heading-large" data-test="title">{{activity.title}}</h1>

  <section class="text" data-test="details">
    {{{activity.details}}}
  </section>

  <p>

    <a href="{{basePath}}/{{accountId}}/activities/sorted" class="link-back" data-test="backButton">
      {{#__}}activities-details.backButton{{/__}}
    </a>
  </p>

{{/applicationContent}}
{{/layout}}
