{{<layout}}
{{$pageTitle}}{{#__}}unsorted-activities-a.pageTitle{{/__}}{{/pageTitle}}
{{$applicationContent}}

<h1 class="heading-xlarge">
  <span class="category heading-secondary">{{#__}}activities-group.subheading{{/__}}</span>
  {{#__}}activities-group.heading{{/__}}
</h1>

<ul class="category-list">
  <li class="category-list__item">
    <a class="category-list__link" href="">
      <p class="category-list__description">
        Get better at my applications and interviews
      </p>

      <div class="category-list__bottom">
        <span class="category-list__activities-count">6 activities</span>
        <span class="category-list__label">Choose</span>
      </div>
    </a>
  </li>

  <li class="category-list__item">
    <a class="category-list__link" href="">
      <p class="category-list__description">
        Improve my skills and qualifications
      </p>

      <div class="category-list__bottom">
        <span class="category-list__activities-count">6 activities</span>
        <span class="category-list__label">Choose</span>
      </div>
    </a>
  </li>

  <li class="category-list__item">
    <a class="category-list__link" href="">
      <p class="category-list__description">
        Find the right kind of job for me
      </p>

      <div class="category-list__bottom">
        <span class="category-list__activities-count">6 activities</span>
        <span class="category-list__label">Choose</span>
      </div>
    </a>
  </li>

  <li class="category-list__item">
    <a class="category-list__link" href="">
      <p class="category-list__description">
        Improve how I search online for work
      </p>

      <div class="category-list__bottom">
        <span class="category-list__activities-count">6 activities</span>
        <span class="category-list__label">Choose</span>
      </div>
    </a>
  </li>

  <li class="category-list__item">
    <a class="category-list__link" href="">
      <p class="category-list__description">
        Give myself some confidence
      </p>

      <div class="category-list__bottom">
        <span class="category-list__activities-count">6 activities</span>
        <span class="category-list__label">Choose</span>
      </div>
    </a>
  </li>

  <li class="category-list__item">
    <a class="category-list__link" href="">
      <p class="category-list__description">
        I don't know where to start
      </p>

      <div class="category-list__bottom">
        <span class="category-list__activities-count">6 activities</span>
        <span class="category-list__label">Choose</span>
      </div>
    </a>
  </li>
</ul>

{{/applicationContent}}
{{/layout}}
