{{<layout}}
{{$pageTitle}}{{#__}}activities-details.pageTitle{{/__}}{{/pageTitle}}
{{$applicationContent}}

  <h1 class="heading-large" data-test="title">{{activity.title}}</h1>

  <section class="text" data-test="details">
    {{{activity.details}}}
  </section>

  <a href="{{basePath}}/{{accountId}}{{backPath}}" class="link-back" data-test="backButton">
    {{#__}}activities-details.backButton{{/__}}
  </a>

{{/applicationContent}}
{{/layout}}
