{{<layout}}
{{$pageTitle}}{{#__}}unsorted-activities.pageTitle{{/__}}{{/pageTitle}}
{{$applicationContent}}

<a href="{{basePath}}/{{accountId}}/groups" class="link-back">
  {{#__}}activities-group.backButton{{/__}}
</a>

<h1 class="heading-xlarge">
  <span class="category heading-secondary">{{title}}</span>
  {{#__}}layout.header{{/__}}
</h1>

<div class="grid-row">
  <div class="column-two-thirds">
    <p class="text" data-test="details font-xsmall">{{#__}}activities.overview1{{/__}}</p>
    <p class="text" data-test="details font-xsmall">{{#__}}activities.overview2{{/__}}</p>

    <div class="menu">
      <ul>
        {{#activities}}
          <li class="menu-container-medium" data-test-activity="{{activity}}">
            <a class="menu-item-medium"
               href="{{basePath}}/{{accountId}}/groups/{{group}}/activities/{{activity}}/categorise">{{title}}</a>
          </li>
        {{/activities}}
      </ul>
    </div>
  </div>
  {{>smartAnswers}}
</div>
{{/applicationContent}}
{{/layout}}
