{{<layout}}
{{$pageTitle}}{{#__}}activity-group-details.pageTitle{{/__}}{{/pageTitle}}
{{$applicationContent}}

    <h2 class="heading-xlarge">
      <span class="category heading-secondary">{{#__}}activity-group-details.subheading{{/__}}</span>
      {{#__}}activity-group-details.heading{{/__}}
    </h2>

{{/applicationContent}}
{{/layout}}
