{{<layout}}
{{$pageTitle}}{{title}}{{/pageTitle}}
{{$applicationContent}}

<h1 class="heading-xlarge" data-test="heading">
  {{heading}}
  <p class="heading-medium gutter-half-top text">{{activityName}}</p>
</h1>

<div class="menu">
  <ul class="c">
    {{#categories}}
      <li class="menu-container {{name}}">
        <form action="{{basePath}}/{{accountId}}/activities/{{activityId}}/{{sortType}}/categorise" method="POST">
          <input type="hidden" name="category" value="{{name}}">
          <input class="menu-item" data-test="menu-item" type="submit" value="{{title}}">
        </form>
      </li>
    {{/categories}}
  </ul>

  <p>
    <a href="{{basePath}}/{{accountId}}{{backPath}}" class="link-back" data-test="backButton">
      {{#__}}activities-details.backButton{{/__}}
    </a>
  </p>
</div>

{{/applicationContent}}
{{/layout}}
