{{<layout}}
{{$pageTitle}}{{#__}}categorise-activity.pageTitle{{/__}}{{/pageTitle}}
{{$applicationContent}}

<h3 class="heading-medium" data-test="heading">{{title}}</h3>

<div class="menu">
  <ul class="c">
    {{#categories}}
      <li class="menu-container {{name}}">
        <form action="{{basePath}}/{{accountId}}/activities/{{sortType}}/{{activityId}}/categorise" method="POST">
          <input type="hidden" name="category" value="{{name}}">
          <input class="menu-item" data-test="menu-item" type="submit" value="{{title}}">
        </form>
      </li>
    {{/categories}}
  </ul>

  <p>
    <a href="{{basePath}}/{{accountId}}{{backPath}}" class="link-back" data-test="backButton">
      {{#__}}activities-details.backButton{{/__}}
    </a>
  </p>
</div>

{{/applicationContent}}
{{/layout}}
