{{<layout}}
{{$pageTitle}}{{#__}}categorise-activity.pageTitle{{/__}}{{/pageTitle}}
{{$applicationContent}}

<h3 class="heading-medium" data-test="heading">{{title}}</h3>

<div class="menu">
  <ul>
    {{#categories}}
      <form action="{{basePath}}/{{accountId}}/activities/{{activityId}}/categorise" method="POST">
        <li class="menu-container {{name}}">
          <input type="hidden" name="category" value="{{name}}">
          <input class="menu-item" data-test="menu-item" type="submit" value="{{title}}">
        </li>
      </form>
    {{/categories}}
  </ul>
</div>

{{/applicationContent}}
{{/layout}}
