{{<layout}}
{{$pageTitle}}{{#__}}categorise-activity.pageTitle{{/__}}{{/pageTitle}}
{{$applicationContent}}

<h3 class="heading-medium" data-test="heading">{{title}}</h3>

<div class="todo-list">
  <ul>
    {{#categories}}
      <li class="{{name}}">
        <a class="title menu-item" data-test="title" href="#">{{title}}</a>
      </li>
    {{/categories}}
  </ul>
</div>

{{/applicationContent}}
{{/layout}}