{{<layout}}
{{$pageTitle}}{{#__}}chosen-activities.pageTitle{{/__}}{{/pageTitle}}
{{$applicationContent}}

<div class="grid-row">
  <div class="column-two-thirds">

    <a href="{{basePath}}/{{accountId}}/groups" class="link-back">
      {{#__}}chosen-activities.backButton{{/__}}
    </a>

    <h1 class="heading-xlarge">
      <span class="category heading-secondary">{{activityGroupTitle}}</span>
      {{#__}}chosen-activities.heading{{/__}}
    </h1>

    <div class="part-navigation-container">
      <nav role="navigation" class="app-c-contents-list"
           aria-label="{{#__}}chosen-activities.aria.contentsLabel{{/__}}">
        <h2 class="font-xsmall">Contents:</h2>
        <div class="grid-row">
          <div class="column-two-thirds">
            <ol class="list list-contents app-c-contents-list__list" id="contents">
              {{#categories}}
                {{#hasActivities}}
                  {{#isSelectedCategory}}
                    <li class="font-xsmall app-c-contents-list__list-item app-c-contents-list__list-item--dashed app-c-contents-list__list-item--active"
                        aria-current="true">
                      {{title}} ({{numActivities}} {{#moreThanOneActivity}}
                      activities{{/moreThanOneActivity}}{{^moreThanOneActivity}}
                      activity{{/moreThanOneActivity}})
                    </li>
                  {{/isSelectedCategory}}
                  {{^isSelectedCategory}}
                    <li class="font-xsmall app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
                      <a class="app-c-contents-list__link" href="?cat={{name}}">{{title}}
                        ({{numActivities}} {{#moreThanOneActivity}}
                          activities{{/moreThanOneActivity}}{{^moreThanOneActivity}}
                          activity{{/moreThanOneActivity}})</a>
                    </li>
                  {{/isSelectedCategory}}
                {{/hasActivities}}
              {{/categories}}
            </ol>
          </div>
        </div>
      </nav>
    </div>
  </div><!-- end: .column-two-thirds -->
</div><!-- end: .grid-row -->
<div class="grid-row">
  <div class="column-two-thirds">
    {{#currentCategory}}
      <h2 class="heading-large" data-test="category-heading">{{title}}</h2>

      {{#activities}}
        <div class="{{version}} chosen-activities-heading {{name}}">
          <h3 class="heading-medium">{{ title }}</h3>
          <p class="font-xsmall"><a href="{{basePath}}/{{accountId}}/groups/{{group}}/activities/{{activity}}/categorise?previousCat={{name}}">Change</a></p>
        </div>

        {{& details }}

        {{^last}}
          <hr class="rule-bold"/>{{/last}}
      {{/activities}}
    {{/currentCategory}}

    <nav class="pagination">
      <ul class="pagination__list">
        {{#previousCategory}}
          <li class="pagination__item pagination__item--previous">
            <a rel="prev" href="?cat={{name}}" data-test="previous" class="pagination__link">
              <span class="pagination__link-title">
                <svg class="pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                Previous
              </span>
              <span class="visually-hidden">:</span>
              <span class="pagination__link-label">{{title}}</span>
            </a>
          </li>
        {{/previousCategory}}
        {{#nextCategory}}
          <li class="pagination__item pagination__item--next">
            <a rel="next" href="?cat={{name}}" data-test="next" class="pagination__link">
              <span class="pagination__link-title">
                Next
                <svg class="pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
              </span>
              <span class="visually-hidden">:</span>
              <span class="pagination__link-label">{{title}}</span>
            </a>
          </li>
        {{/nextCategory}}
      </ul>
    </nav>
  </div>

  <div class="column-one-third">
    <div class="more-links-container">
      <h3 class="heading-small">More types of activities</h3>
      {{#activityGroups}}
        <div>
          <a data-test="group-link-{{name}}" class="font-xsmall"
             href="{{basePath}}/{{accountId}}/groups/{{name}}/activities">{{title}}</a>
        </div>
      {{/activityGroups}}
    </div>
  </div>
</div>

{{/applicationContent}}
{{/layout}}
