{{<layout}}
  {{$pageTitle}}{{#__}}introduction.pageTitle{{/__}}{{/pageTitle}}
  {{$applicationContent}}
    <h2 class="heading-xlarge">{{#__}}introduction.heading{{/__}}</h2>
    <h2 class="heading-medium">{{#__}}introduction.sub-heading{{/__}}</h2>

    <p>{{#__}}introduction.action-overview-1{{/__}}</p>

    <ol class="list list-bullet">
      <li>{{#__}}introduction.action-1{{/__}}</li>
      <li>{{#__}}introduction.action-2{{/__}}</li>
    </ol>

    <p class="text">{{#__}}introduction.post-action-overview{{/__}}</p>
    <p class="form-group">
      <a class="button" href="{{basePath}}/{{accountId}}/activities/unsorted" data-test="continue">{{#__}}introduction.button-label{{/__}}</a>
    </p>
  {{/applicationContent}}
{{/layout}}
