{{<layout}}
{{$pageTitle}}{{#__}}sorted-activities.pageTitle{{/__}}{{/pageTitle}}
{{$applicationContent}}

<h2 class="heading-xlarge">{{#__}}sorted-activities.heading{{/__}}</h2>

<div class="app-menu inner-block gutter-top">
  <div class="content">
    <nav>
      <ul>
        <li class="inactive" data-test="activity-{{activity}}">
          <a href="{{basePath}}/{{accountId}}/activities/unsorted" class="option">
            {{#__}}tabs.unsorted{{/__}}
          </a>
        </li>
        <li class="active" data-test="activity-{{activity}}">
          <span class="option">{{#__}}tabs.sorted{{/__}}</span>
        </li>
      </ul>
    </nav>
  </div>
</div>

<h3 class="heading-medium">{{#__}}sorted-activities.activities-heading{{/__}}</h3>
<p class="text">{{#__}}sorted-activities.activities-text-1{{/__}}</p>
<p class="text">{{#__}}sorted-activities.activities-text-2{{/__}}</p>
<p class="text">{{#__}}sorted-activities.activities-text-3{{/__}}</p>

<div class="menu">

  <section data-test="category-READY" id="category-READY">
    <h3 class="heading-small category-heading" data-test="category">{{#__}}category.READY.title{{/__}}</h3>
    <span data-test="details">
    {{^perCategory.READY}}
      <p data-test="empty-message">{{#__}}sorted-activities.category-empty{{/__}}</p>
    {{/perCategory.READY}}
      <ul>
        {{#perCategory.READY}}
          <li class="menu-container READY" data-test="activity-{{activity}}">
            <span class="menu-item">
              <p>
                {{title}}
              </p>
              <a href="{{basePath}}/{{accountId}}/activities/{{activity}}"
                 class="button-secondary"
                 data-test="details-button">
                {{#__}}sorted-activities.button-details{{/__}}
              </a>
            </span>
          </li>
        {{/perCategory.READY}}
      </ul>
    </span>
  </section>

  <section data-test="category-HELP" id="category-HELP">
    <h3 class="heading-small category-heading" data-test="category">{{#__}}category.HELP.title{{/__}}</h3>
    <span data-test="details">
    {{^perCategory.HELP}}
      <p data-test="empty-message">{{#__}}sorted-activities.category-empty{{/__}}</p>
    {{/perCategory.HELP}}
      <ul>
        {{#perCategory.HELP}}
          <li class="menu-container HELP" data-test="activity-{{activity}}">
            <span class="menu-item">
              <p>
                {{title}}
              </p>
              <a href="{{basePath}}/{{accountId}}/activities/{{activity}}"
                 class="button-secondary"
                 data-test="details-button">
                {{#__}}sorted-activities.button-details{{/__}}
              </a>
            </span>
          </li>
        {{/perCategory.HELP}}
      </ul>
    </span>
  </section>

  <section data-test="category-DOING" id="category-DOING">
    <h3 class="heading-small category-heading" data-test="category">{{#__}}category.DOING.title{{/__}}</h3>
    <button class="link-button"
            data-toggle-visibility-for="#category-DOING .details"
            data-test="details-button">
      <i class="fa fa-caret-right"></i>
      {{#__}}sorted-activities.show-activities{{/__}}
    </button>
    <div data-test="details" class="js-hidden details panel-indent">
    {{^perCategory.DOING}}
      <p data-test="empty-message">{{#__}}sorted-activities.category-empty{{/__}}</p>
    {{/perCategory.DOING}}
      <ul>
        {{#perCategory.DOING}}
          <li class="menu-container DOING" data-test="activity-{{activity}}">
            <span class="menu-item">
              <p>
                {{title}}
              </p>
              <a href="{{basePath}}/{{accountId}}/activities/{{activity}}"
                 class="button-secondary"
                 data-test="details-button">
                {{#__}}sorted-activities.button-details{{/__}}
              </a>
            </span>
          </li>
        {{/perCategory.DOING}}
      </ul>
    </div>
  </section>

  <section data-test="category-NOT-WORKED" id="category-NOT-WORKED">
    <h3 class="heading-small category-heading" data-test="category">{{#__}}category.NOT-WORKED.title{{/__}}</h3>
    <button class="link-button"
            data-toggle-visibility-for="#category-NOT-WORKED .details"
            data-test="details-button">
      <i class="fa fa-caret-right"></i>
      {{#__}}sorted-activities.show-activities{{/__}}
    </button>
    <div data-test="details" class="js-hidden details panel-indent">
    {{^perCategory.NOTWORKED}}
      <p data-test="empty-message">{{#__}}sorted-activities.category-empty{{/__}}</p>
    {{/perCategory.NOTWORKED}}
      <ul>
        {{#perCategory.NOTWORKED}}
          <li class="menu-container NOT-WORKED" data-test="activity-{{activity}}">
            <span class="menu-item">
              <p>
                {{title}}
              </p>
              <a href="{{basePath}}/{{accountId}}/activities/{{activity}}"
                 class="button-secondary"
                 data-test="details-button">
                {{#__}}sorted-activities.button-details{{/__}}
              </a>
            </span>
          </li>
        {{/perCategory.NOTWORKED}}
      </ul>
    </div>
  </section>

  <section data-test="category-NO" id="category-NO">
    <h3 class="heading-small category-heading" data-test="category">{{#__}}category.NO.title{{/__}}</h3>
    <button class="link-button"
            data-toggle-visibility-for="#category-NO .details"
            data-test="details-button">
      <i class="fa fa-caret-right"></i>
      {{#__}}sorted-activities.show-activities{{/__}}
    </button>
    <div data-test="details" class="js-hidden details panel-indent">
    {{^perCategory.NO}}
      <p data-test="empty-message">{{#__}}sorted-activities.category-empty{{/__}}</p>
    {{/perCategory.NO}}
      <ul>
        {{#perCategory.NO}}
          <li class="menu-container NO" data-test="activity-{{activity}}">
            <span class="menu-item">
              <p>
                {{title}}
              </p>
              <a href="{{basePath}}/{{accountId}}/activities/{{activity}}"
                 class="button-secondary"
                 data-test="details-button">
                {{#__}}sorted-activities.button-details{{/__}}
              </a>
            </span>
          </li>
        {{/perCategory.NO}}
      </ul>
    </div>
  </section>

</div>

{{/applicationContent}}
{{/layout}}
