{{<layout}}
{{$pageTitle}}{{#__}}sorted-activities.pageTitle{{/__}}{{/pageTitle}}
{{$applicationContent}}

<h2 class="heading-xlarge">{{#__}}sorted-activities.heading{{/__}}</h2>

<div class="app-menu inner-block gutter-top">
  <div class="content">
    <nav>
      <ul>
        <li class="inactive">
          <a href="{{basePath}}/{{accountId}}/unsorted-activities" class="option">
            {{#__}}tabs.unsorted{{/__}}
          </a>
        </li>
        <li class="active">
          <span class="option">{{#__}}tabs.sorted{{/__}}</span>
        </li>
      </ul>
    </nav>
  </div>
</div>

<h3 class="heading-medium">{{#__}}sorted-activities.activities-heading{{/__}}</h3>
<p class="text">{{#__}}sorted-activities.activities-text-1{{/__}}</p>
<p class="text">{{#__}}sorted-activities.activities-text-2{{/__}}</p>
<p class="text">{{#__}}sorted-activities.activities-text-3{{/__}}</p>

<div class="menu">
  <form action="details" method="get">

    <section data-test="category-READY">
      <h3 class="heading-small" data-test="category">{{#__}}category.READY.title{{/__}}</h3>
      {{^perCategory.READY}}
        <p>{{#__}}sorted-activities.category-empty{{/__}}</p>
      {{/perCategory.READY}}
      <ul>
        {{#perCategory.READY}}
          <li class="menu-container READY">
            <span class="menu-item">{{title}}</span>
          </li>
        {{/perCategory.READY}}
      </ul>
    </section>

    <section data-test="category-HELP">
      <h3 class="heading-small" data-test="category">{{#__}}category.HELP.title{{/__}}</h3>
      {{^perCategory.HELP}}
        <p>{{#__}}sorted-activities.category-empty{{/__}}</p>
      {{/perCategory.HELP}}
      <ul>
        {{#perCategory.HELP}}
          <li class="menu-container HELP">
            <span class="menu-item">{{title}}</span>
          </li>
        {{/perCategory.HELP}}
      </ul>
    </section>

    <section data-test="category-DOING">
      <h3 class="heading-small" data-test="category">{{#__}}category.DOING.title{{/__}}</h3>
      {{^perCategory.DOING}}
        <p>{{#__}}sorted-activities.category-empty{{/__}}</p>
      {{/perCategory.DOING}}
      <ul>
        {{#perCategory.DOING}}
          <li class="menu-container DOING">
            <span class="menu-item">{{title}}</span>
          </li>
        {{/perCategory.DOING}}
      </ul>
    </section>

    <section data-test="category-NOT-WORKED">
      <h3 class="heading-small" data-test="category">{{#__}}category.NOT-WORKED.title{{/__}}</h3>
      {{^perCategory.NOTWORKED}}
        <p>{{#__}}sorted-activities.category-empty{{/__}}</p>
      {{/perCategory.NOTWORKED}}
      <ul>
        {{#perCategory.NOTWORKED}}
          <li class="menu-container NOT-WORKED">
            <span class="menu-item">{{title}}</span>
          </li>
        {{/perCategory.NOTWORKED}}
      </ul>
    </section>

    <section data-test="category-NO">
      <h3 class="heading-small" data-test="category">{{#__}}category.NO.title{{/__}}</h3>
      {{^perCategory.NO}}
        <p>{{#__}}sorted-activities.category-empty{{/__}}</p>
      {{/perCategory.NO}}
      <ul>
        {{#perCategory.NO}}
          <li class="menu-container NO">
            <span class="menu-item">{{title}}</span>
          </li>
        {{/perCategory.NO}}
      </ul>
    </section>

  </form>
</div>

{{/applicationContent}}
{{/layout}}
