{{<layout}}
{{$pageTitle}}{{#__}}unsorted-activities.pageTitle{{/__}}{{/pageTitle}}
{{$applicationContent}}

  <h2 class="heading-xlarge">{{#__}}unsorted-activities.heading{{/__}}</h2>

  <div class="app-menu inner-block gutter-top">
    <div class="content">
      <nav>
        <ul>
          <li class="active">
            <span class="option">{{#__}}tabs.unsorted{{/__}}</span>
          </li>
          <li class="inactive">
            <a href="{{basePath}}/{{accountId}}/activities/sorted" class="option">{{#__}}tabs.sorted{{/__}}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="menu">
    <p class="text">{{#__}}unsorted-activities.action-overview-1{{/__}}</p>
    <p class="text">{{#__}}unsorted-activities.action-overview-2{{/__}}</p>
    <ul>
    {{#activities}}
      <li class="menu-container">
        <a class="menu-item" data-test="activity" href="{{basePath}}/{{accountId}}/categorise-activity/{{activity}}">{{title}}</a>
      </li>
    {{/activities}}
    </ul>
    <h3 class="heading-medium">{{#__}}unsorted-activities.action-finish-heading{{/__}}</h3>
    <p>{{#__}}unsorted-activities.action-finish-detail{{/__}}</p>
  </div>

{{/applicationContent}}
{{/layout}}
