{{<layout}}
{{$pageTitle}}{{#__}}unsorted-activities.pageTitle{{/__}}{{/pageTitle}}
{{$applicationContent}}

  <h2 class="heading-xlarge">{{#__}}unsorted-activities.heading{{/__}}</h2>

  <div class="app-menu inner-block gutter-top">
    <div class="content">
      <nav>
        <ul>
          <li class="active">
            <span class="option">{{#__}}unsorted-activities.unsorted-menu{{/__}}</span>
          </li>
          <li class="inactive">
            <a href="#" class="option">{{#__}}unsorted-activities.sorted-menu{{/__}}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="todo-list">

    <p>{{#__}}unsorted-activities.action-overview{{/__}}</p>

    <form>
      <ul>
      {{#activities}}
        <li>
          <a class="title" data-test="title" href="{{basePath}}/{{accountId}}/sort/{{name}}">{{title}}</a>
        </li>
      {{/activities}}
      </ul>
    </form>

    <h3 class="heading-medium">{{#__}}unsorted-activities.action-finish-heading{{/__}}</h3>
    <p>{{#__}}unsorted-activities.action-finish-detail{{/__}}</p>
  </div>

{{/applicationContent}}
{{/layout}}