{{<layout}}
{{$pageTitle}}{{#__}}unsorted-activities.pageTitle{{/__}}{{/pageTitle}}
{{$applicationContent}}

  <h1 class="heading-xlarge">{{#__}}unsorted-activities.all-sorted.title{{/__}}</h1>
  <p class="text">{{#__}}unsorted-activities.all-sorted.message1{{/__}}</p>
  <p class="text">{{#__}}unsorted-activities.all-sorted.message2{{/__}}</p>
  <a href="{{basePath}}/{{accountId}}/activities/sorted" class="button" data-test="continue-button">
    {{#__}}unsorted-activities.all-sorted.continueButton{{/__}}
  </a>

{{/applicationContent}}
{{/layout}}
