{{<govukTemplate}}

  {{$head}}
    {{#layoutAssets.css.screen}}
      <link href="{{{.}}}" media="screen" rel="stylesheet" type="text/css"/>
    {{/layoutAssets.css.screen}}
    {{#layoutAssets.css.print}}
      <link href="{{{.}}}" media="print" rel="stylesheet" type="text/css"/>
    {{/layoutAssets.css.print}}
    <meta name="robots" content="noindex" />
    <meta name="google-site-verification" content="1VdXWwGQMRvB1tYmZLXi0_-i0R2hoLpsDKtCku18HcM" />
  {{/head}}

  {{$cookieMessage}}
  <p>{{#__}}cookie.pretext{{/__}}. <a href="{{ basePath }}/{{#accountId}}{{accountId}}/{{/accountId}}cookie">{{#__}}cookie.linktext{{/__}}</a></p>
  {{/cookieMessage}}

  {{$bodyStart}}
  {{>googleTagManager}}
  {{/bodyStart}}

  {{$headerClass}}with-proposition{{/headerClass}}

  {{$propositionHeader}}
  <div class="header-proposition">
    <div class="content">
      <div id="proposition-menu">
        <span id="proposition-name">{{#__}}layout.header{{/__}}</span>
      </div>
    </div>
  </div>
  {{/propositionHeader}}

  {{$content}}
    <main id="content">
      {{$applicationContent}}{{/applicationContent}}
    </main>
  {{/content}}

  {{$bodyEnd}}
    {{#layoutAssets.js}}
      <script type="text/javascript" src="{{{.}}}"></script>
    {{/layoutAssets.js}}
  {{/bodyEnd}}

{{/govukTemplate}}
